<!DOCTYPE html>
<html lang="ru">

<head>
  <%- include('./templates/head'); %>
</head>

<body>
  <header class="header">
    <%- include('./templates/header'); %>
  </header>
  <main class="main">
    <section class="modal">
      <div class="container modal__container">
        <h2 class="modal__title">Данные сохранены.</h2>
        <a href="/" class="modal__link">Вернуться</a>
      </div>
    </section>
  </main>
  <footer class="footer">
    <%- include('./templates/footer'); %>
  </footer>
  <script src="/scripts/main.js"></script>
</body>

</html>