.header {
  &__container {
    background-color: $light-gray;
    padding-top: 25px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  &__title {
    text-align: center;
    font-size: 46px;
  }
}
