.info {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @include tablet {
    gap: 15px;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 32px;

    @include laptop {
      font-size: 28px;
    }
  
    @include tablet {
      font-size: 22px;
    }
  
    @include mobile {
      font-size: 20px;
    }
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet {
      gap: 10px;
    }
  }

  &__input-block {
    display: flex;
    gap: 15px;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      gap: 10px;
    }

    &_edit {
      flex-direction: column;
    }
  }

  &__line {
    display: flex;
    gap: 15px;
  }

  &__label {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;

    @include tablet {
      gap: 10px;
    }
  }

  &__input {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding: 5px 5px;
    font-weight: 400;
    line-height: 30px;
    color: $dark-gray;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 5px;

    @include tablet {
      height: 30px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 5px 5px;
    font-weight: 400;
    line-height: 1.5;
    color: $dark-gray;
    background-color: $morelight-gray;
    border: 1px solid #bdbdbd;
    border-radius: 5px;

    @include tablet {
      height: 30px;
    }
  }

  &__btns-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &__btn {
    background-color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;
    border-radius: 20px;
    align-self: center;
    font-weight: 600;
    border: 1px transparent solid;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

    @include tablet {
      border-radius: 10px;
      padding: 10px 20px;
    }

    &:hover {
      background-color: $light-gray;
    }

    &:focus {
      background-color: $light-gray;
      border-color: $gray;
    }
  }

  &__modal {
    width: 100%;
    border: 3px solid $light-gray;
    font-weight: 600;
    padding: 30px;
    background-color: $morelight-gray;
    border-radius: 15px;
    position: absolute;
    transform: scale(0);
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transition: all .7s ease-in-out;

    &_active {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__choice {
    display: flex;
    gap: 30px;

    @include tablet {
      gap: 15px;
    }
  }
}